#pg {
  /* DEFAULT STYLE */

  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  /* #pg_panel */

}
#pg nav ul {
  list-style: none;
}
#pg a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
#pg button,
#pg label {
  margin: 1px;
  padding: 2px 4px 2px 4px;
  height: 20px;
}
#pg button {
  font-size: 13px;
  border-radius: 4px;
  color: #444;
  font-weight: 400;
  background-color: white;
  background-image: none;
  border: 1px solid #444;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
#pg .floating_buttons_at_the_bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
#pg #pg_panel {
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 300px;
  bottom: 0px;
  background: white;
  overflow: hidden;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: left;
  /* NODE  */

  /***********************/

  /* icon for different tile sizes */

  /*.node-icon-high {
		position:absolute;
		width:26px;
		height:26px;
		top:0px; left:0px;
		margin-top:7px; margin-left:7px;
	}*/

  /************************/

  /* other items in nodes */

  /*.node-operation-high {
		
		position:absolute;
		top:10px;
		left:40px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 15px;
		color:black;
	}*/

}
#pg #pg_panel ol,
#pg #pg_panel ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#pg #pg_panel #resize_handle_panel {
  position: absolute;
  z-index: 10000;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 6px;
  cursor: pointer;
  background-color: #aaaabb;
}
#pg #pg_panel #control_ui {
  position: fixed;
  bottom: 0px;
  background: white;
  vertical-align: middle;
  padding-left: 10px;
  height: 26px;
  padding-top: 5px;
  border-top: 1px solid #ccc;
  width: 100%;
  z-index: 102;
  overflow: hidden;
}
#pg #pg_panel #node_size_slider {
  display: inline-block;
}
#pg #pg_panel #tiles {
  position: absolute;
  z-index: 101;
  top: 0px;
  left: 0px;
  width: 3000px;
  height: 3000px;
}
#pg #pg_panel #plate {
  /*background:#ddd;*/

  width: 3000px;
  height: 3000px;
  z-index: 100;
}
#pg #pg_panel #script_selector {
  width: 200px;
}
#pg #pg_panel #plate_container {
  position: relative;
  width: 100%;
  height: 800px;
  border: 1px solid #dcc;
  overflow: scroll;
}
#pg #pg_panel #node_size_slider {
  margin: 5px;
  width: 200px;
}
#pg #pg_panel .node {
  position: absolute;
  background: gray;
  /*border:1px solid black;*/

  box-shadow: inset 0 0 0 1px #ffffff;
  overflow: hidden;
}
#pg #pg_panel .node[selected] {
  box-shadow: inset 0 0 0 3px #9b4681;
}
#pg #pg_panel .node-trigger {
  background-color: #635a52;
}
#pg #pg_panel .node-page {
  background-color: #b495c7;
}
#pg #pg_panel .node-element {
  background-color: #5abad1;
}
#pg #pg_panel .node-variable {
  background-color: #e67975;
}
#pg #pg_panel .node-operation {
  background-color: #e0e0e0;
}
#pg #pg_panel .node-head {
  /*height:30px;*/

  margin: 5px;
  position: relative;
}
#pg #pg_panel .node-icon {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: center center;
}
#pg #pg_panel .node-icon-low {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}
#pg #pg_panel .node-icon-mid {
  float: left;
}
#pg #pg_panel .node-number-of-values {
  position: absolute;
  top: 10px;
  left: 40px;
  text-align: left;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.428571429;
}
#pg #pg_panel .node-values-mid {
  width: 100%;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  overflow: hidden;
}
#pg #pg_panel .node-type {
  /* mid-level detail when there's no value in the node */

  position: absolute;
  top: 5px;
  left: 32px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  white-space: nowrap;
  color: white;
}
#pg #pg_panel .node-description-high {
  clear: both;
  width: 100%;
  /*	height:25px;*/

  padding-left: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  white-space: nowrap;
}
#pg #pg_panel .node-values-high {
  width: 100%;
  padding: 5px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: white;
  overflow: hidden;
}
#pg #pg_panel .node-table {
  /* general node table css*/

  overflow: hidden;
  padding: 3px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
}
#pg #pg_panel .node-table-mid {
  /* mid detail value table style */

}
#pg #pg_panel .node-table-high {
  /* high detail value table style */

}
#pg #pg_panel .node-table li {
  padding: 0px 2px 0px 2px;
  white-space: nowrap;
}
#pg #pg_panel .node-table li:nth-child(even) {
  background-color: none;
}
#pg #pg_panel .node-table li:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
#pg #pg_data_ui {
  position: fixed;
  z-index: 10002;
  top: 30px;
  right: 30px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 200px;
  padding: 20px 5px;
}
#pg div.pg_ul_container {
  height: inherit;
  overflow: scroll;
}
#pg div.pg_ul_container ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#pg div.pg_ul_container li {
  position: relative;
  margin: 0px;
  list-style: none outside none;
  border-bottom: 1px solid #aaa;
  padding: 0;
}
#pg div.pg_ul_container li .data_edit_buttons {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
}
#pg div.pg_ul_container li .data_edit_buttons button {
  font-size: 12px;
  padding: 1px 3px 1px 3px;
}
#pg div.pg_ul_container div.attr {
  font-size: 13px;
  padding-left: 15px;
  text-indent: -15px;
  max-height: 80px;
  overflow: hidden;
}
#pg div.pg_ul_container div.attr span.attr_key {
  color: red;
}
#pg div.pg_ul_container div.attr span.attr_value {
  color: #555;
  padding-left: 5px;
}
#pg div.pg_ul_container div.dt_inst {
  margin: 10px;
  padding: 5px;
  font-size: 14px;
  background: #dddddd;
  border: 1px solid #222222;
  border-radius: 3px;
}
#pg div.pg_ul_container div.dt_inst button,
#pg div.pg_ul_container div.dt_inst input {
  width: 80%;
  margin-left: 10px;
  margin-top: 5px;
}
#pg #pg_command_ui {
  position: fixed;
  visibility: hidden;
  width: 1024px;
  max-height: 500px;
  overflow: hidden;
  background: #ffffff;
  border: 1px solid #888;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
  z-index: 10005;
}
#pg #pg_command_ui label {
  text-transform: capitalize;
  font-size: 12px;
  font-weight: 700;
  font-family: verdana, helvetica, arial, sans-serif;
  color: #444;
}
#pg #pg_command_ui .header_panel {
  height: 25px;
  width: 100%;
  background: #9b4681;
}
#pg #pg_command_ui .header_panel .node_info,
#pg #pg_command_ui .header_panel label {
  padding: 3px;
  color: white;
}
#pg #pg_command_ui .upper_panel {
  height: 275px;
  width: 100%;
  padding: 5px;
}
#pg #pg_command_ui .lower_panel {
  clear: both;
  background: white;
  padding: 5px;
  height: 22px;
  border-top: 1px solid #aaa;
  width: 100%;
}
#pg #pg_command_ui .input_data {
  vertical-align: top;
  display: inline-block;
  width: 250px;
  height: 100%;
  overflow: hidden;
  border-right: 1px solid #aaa;
}
#pg #pg_command_ui .input_data .input_nodes_container {
  overflow: scroll;
  height: 100%;
}
#pg #pg_command_ui .input_data input {
  width: 100px;
}
#pg #pg_command_ui .input_data div.ul_container {
  height: inherit;
  overflow: scroll;
}
#pg #pg_command_ui .input_data ul {
  margin: 0px 5px 10px 10px;
  padding: 0;
}
#pg #pg_command_ui .input_data li {
  margin: 0px;
  position: relative;
  list-style: none outside none;
  border-bottom: 1px solid #aaa;
  padding: 0;
}
#pg #pg_command_ui .input_data li .data_edit_buttons {
  display: none;
  position: absolute;
  right: 2px;
  top: 2px;
}
#pg #pg_command_ui .input_data li .data_edit_buttons button {
  font-size: 12px;
  padding: 1px 3px 1px 3px;
}
#pg #pg_command_ui .input_data div.attr {
  font-size: 13px;
  padding-left: 15px;
  text-indent: -15px;
  max-height: 80px;
  overflow: hidden;
}
#pg #pg_command_ui .input_data div.attr span.attr_key {
  color: red;
}
#pg #pg_command_ui .input_data div.attr span.attr_value {
  color: #555;
  padding-left: 5px;
}
#pg #pg_command_ui .operation_menu {
  vertical-align: top;
  display: inline-block;
  width: 550px;
  height: 100%;
  border-right: 1px solid #aaa;
}
#pg #pg_command_ui .operation_menu .operation_info {
  position: relative;
  margin: 10px;
  padding: 5px;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 3px;
}
#pg #pg_command_ui .operation_menu .operation_info .op_param {
  display: inline-block;
  margin-left: 10px;
}
#pg #pg_command_ui .operation_menu .operation_info .op_execute_button {
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 12px;
}
#pg #pg_command_ui .operation_menu #command_container {
  position: relative;
  width: 100%;
}
#pg #pg_command_ui .operation_menu .command {
  display: inline-block;
  margin: 5px;
  /*height:70px; width:70px;*/

  padding: 2px 4px 2px 4px;
  overflow: hidden;
  background: #ddd;
  border: 1px solid #222;
  border-radius: 3px;
}
#pg #pg_command_ui .operation_menu .command .com_title {
  font-size: 13px;
  font-weight: 600;
  word-wrap: break-word;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pg #pg_command_ui .operation_menu .command[selected=selected] {
  background: #9b4681;
}
#pg #pg_command_ui .operation_menu .nodes {
  display: inline-block;
  margin: 5px;
  height: 70px;
  max-width: 200px;
  overflow: hidden;
  background: #aaa;
  border: 2px solid #222;
  border-radius: 3px;
}
#pg #pg_command_ui .operation_menu .nodes .node_title {
  font-size: 13px;
  font-weight: 600;
  word-wrap: break-word;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#pg #pg_command_ui .operation_menu #command_parameters {
  width: 100%;
  margin: 10px;
}
#pg #pg_command_ui .output_data {
  vertical-align: top;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100%;
  overflow: hidden;
}
#pg .pg_dialog {
  position: fixed;
  z-index: 100001;
  width: 400px;
  height: auto;
  -webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  background: #fff;
  border: 1px solid #acacac;
  border: 1px solid rgba(0, 0, 0, 0.333);
  outline: 0;
  padding: 20px;
  font-size: 13px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  text-align: left;
}
#pg .pg_dialog button,
#pg .pg_dialog label {
  margin: 1px;
  padding: 2px 4px 2px 4px;
  height: 20px;
}
#pg .pg_dialog button {
  font-size: 13px;
  border-radius: 4px;
  color: #444;
  background-color: white;
  border: 1px solid #444;
}
#pg .pg_dialog_backdrop {
  position: fixed;
  z-index: 100000;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(255, 255, 255, 0.8);
}
#pg #pg_edit_ui {
  position: fixed;
  z-index: 10001;
  top: 30px;
  right: 30px;
  background: white;
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 200px;
  padding: 20px 5px;
}
#pg #pg_edit_ui button {
  margin: 1px;
  padding: 2px 4px 2px 4px;
  font-size: 13px;
  height: 20px;
  border-radius: 4px;
  color: #444;
  background-color: white;
  border: 1px solid #444;
  width: 100%;
}
#pg #pg_edit_ui button.selected {
  background-color: red;
}
#pg #pg_edit_ui .label_selected_elements {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: 14px;
  color: #888;
}
#pg #pg_edit_ui .table_inspector ul,
#pg #pg_edit_ui .table_inspector li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
#pg #pg_edit_ui .table_inspector li.attr {
  font-size: 13px;
  padding-left: 15px;
  text-indent: -15px;
  max-height: 80px;
  overflow: hidden;
}
#pg #pg_edit_ui .table_inspector li.attr span.attr_key {
  color: red;
}
#pg #pg_edit_ui .table_inspector li.attr span.attr_value {
  color: #555;
  padding-left: 5px;
}
/* pg */
/***********************/
